@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Silkscreen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    box-sizing: border-box;
    font-family: "Silkscreen", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
}

.button-return {
    width: 35px;
    height: 35px;
    background-color: #256579;
    border-radius: 8px;
    padding: 5px;
    color: white;
    margin: 30px 30px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    background-color: #ccc;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 3px solid #189170;
    border-radius: 5px;
    transition: all 400ms ease;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url(../img/logo.jpg);
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}

.button-restart {
    background-color: #256579;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    max-width: 300px;
    margin-top: 30px;
}